*{
	padding:0;
	margin:0;
}

.head{
	height: 145.5px;
}

.main{
	height: 455px;
	background: url(../img/top.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.content{
	width: 980px;
	height: 2040px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
	margin: 0 auto;
	margin-top: -50px;
	padding-top: 1px;
}

.main_content{

}

.title{
	font-family: PingFangSC-Medium;
	font-size: 48px;
	color: #414553;
	letter-spacing: 0;
	margin-left: 23px;
	margin-top: 45px;
}

.VIVA{
	width: 264px;
	display: flex;
	justify-content: space-between;
	margin-left: 23px;
	margin-top: 15px;
}

.viva{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #414553;
	letter-spacing: 0;
	text-align: center;
}

.design{
	opacity: 0.63;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #414553;
	letter-spacing: 0;
	text-align: center;
	margin-top: 6px;
}


.introduce{
	width: 906px;
	margin-top: 66px;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #414553;
	letter-spacing: 0;
	line-height: 30px;
	margin-left: 23px;
}

.main_title{
	margin-top: 30px;
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #414553;
	letter-spacing: 0;
	text-align: center;
	line-height: 56px;
}

.box{

}

.main_title_one{
	margin-top: 20px;
	margin-left: 23px;
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #414553;
	letter-spacing: 0;
	line-height: 30px;
}

.main_title_two{
	margin-top: 20px;
	margin-left: 23px;
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #414553;
	letter-spacing: 0;
	line-height: 30px;
}

.main_title_content{
	width: 884px;
	margin-top: 20px;
	margin-left: 23px;
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #414553;
	letter-spacing: 0;
	line-height: 30px;
}

.bitmap_one{
	width: 908px;
	height: 436px;
	margin-top: 37px;
	
}

.bitmap{
	width: 908px;
	height: 605px;
	margin-top: 37px;
	padding-bottom: 40px;
}







.foot{
	display: flex;
	justify-content: center;
	background: #272C33;
	height: 188px;
	margin-top: 40px;
}

.foot p,span{
	color: #fff;
}

.foot p{
	font-size: 11px;
}

.foot span{
	font-size: 10px;
}

.line_one{
	width: 156.3px;
	height: 0.5px;
	background: #9FA1A4;
	margin-top: 7.8px;
}

.line_two{
	width: 156.3px;
	height: 0.5px;
	background: #9FA1A4;
	margin-top: 7.8px;
}

.icon{
	margin-top: 40px;
}

.icon_introduce{
	margin-top: 6px;
}


.Social_contact{
	margin-top: 28px;
}


.address{
	margin-top: 45px;
	margin-left: 162.6px;
	margin-right: 160.6px;

}

.place_name{
	width: 100px;
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 15px;
	margin-right: 42px;
}

.contact{
	margin-top: 45px;
}

.Contacts{
	margin-top: 15.2px;
}

.bottom{
	display: flex;
	justify-content: center;
	background: #1F232A;
	height: 46px;
}

.bottom_introduce{
	display: flex;
	justify-content: space-between;
}

.bottom p{
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: rgba(188,196,207,0.40);
	letter-spacing: 0;
	text-align: center;
	margin-top: 17px;
}

.bottom_introduce{
	margin-top: 16px;
}

.CASE{
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	margin-right: 23px;
}

.SERVICE{
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	margin-right: 23px;
}

.WE{
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}

.box{
	width: 336px;
}